@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amaranth&family=Basic&display=swap');

body {
    font-family: 'Basic', sans-serif;
    background-color: rgb(99, 99, 99);
    margin: 0;
}


.divsquare {
    background-color: #FFF;
}

.container {
    display: flex;
    border-radius: 20px;
    min-width: 960px;
}
/* Tried to make black padding around the canvas area for an ipad sort of look,
but that breaks horribly when I so much as resize my browser. Forget it. */

 .bigbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.allbutfooter {
    padding: 20px 0px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-radius: 20px;
    min-width: 900px;
    box-sizing: border-box;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

button, .sliderlabel {
    border: none;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Basic', sans-serif;
    border-radius: 20px;
}

.sliderlabel {
    padding-top: 0px;
    color: #fff;
}

.rainbow {
    background-image: linear-gradient(to bottom right, rgb(14, 214, 214),  rgb(201, 0, 77), rgb(7, 168, 7));
    color: #fff;
}

.black {
    background-color: #000;
    color: #fff;
}

.transparent {
    background-color: rgb(153, 153, 153);
}

.image {
    align-self: center;
}

.demopixels {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.smallpixel, .bigpixel {
    background-color: #000;
    margin: 0px 5px;
}

.smallpixel {
    width: 10px;
    height: 10px;
}

.bigpixel {
    width: 60px;
    height: 60px;
}

.slider {
  padding-top: 20px;
  display: block;
  background:rgb(99, 99, 99)
}


.footer {
    position: absolute;
    bottom: 0;
    padding: 3px 0px;
    width: 100%;
    display: flex;
    background-color: #3b3a3a;
    justify-content: center;
    color: #fff;
    font-size: 24px;
}

@media screen and (max-width: 1200px) {

  
    .allbutfooter {
        flex-direction: column;
        margin-top: 1%;
        align-items: flex-start;
        margin-left: 10%;
    }    

    .buttoncontainer  {
        flex-flow: row wrap;
    }

    .footer {
        position: absolute !important;
        bottom: 0 !important;
        align-items: center;
        justify-content: center;
    }

    .image {
        display: none;
    }
}

