body {
    background-color: rgb(130, 207, 156);
}

.divsquare {
    background-color: #FFF;
}

.container {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.colouredIn {
    background-color: #000;
}